.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-end: 80px;
}

.headerContainer {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 40px;
  text-transform: uppercase;
}

.title {
  background-color: var(--purple-300);
  padding: 0 6px;
}
