.container {
}

.generateButton {
  border: none;
  border-radius: 6px;
  padding: 0.75rem 1.5rem;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  background-color: var(--green);
  transition: background-color 0.2s;
  cursor: pointer;
}

.emptyMessage {
  color: var(--purple-300);
  font-size: 40px;
  text-align: center;
}

.generateLink {
  color: var(--green);
  font-weight: bold;
  text-decoration: none;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 1.5rem;
}

.clearButton {
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: var(--gray-300);
  background-color: var(--gray-200);
  transition: background-color 0.2s;
  cursor: pointer;
}

.clearButton:hover {
  background-color: var(--gray-300);
}

.historyList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 30px;
  font-weight: normal;
}

.record {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 40px;
}

.recordContent {
  display: flex;
  flex: 1;
  background-color: var(--purple-300);
  border-radius: 40px;
  padding: 28px;
  justify-content: space-between;
}

.status {
  display: flex;
  gap: 5px;
  flex: 1;
}

.activeStatus {
  color: inherit;
}

.inactiveStatus {
  color: var(--purple-400);
}

.inactiveStatus img {
  opacity: 0.5;
}

.fileName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  text-align: left;
}

.date {
  color: var(--gray-600);
  flex: 1;
}

.deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border: none;
  padding: 1rem;
  background-color: var(--white);
  cursor: pointer;
  border-radius: 20px;
  padding: 30px;
}

.deleteButton:hover {
  color: var(--red);
}

.successText {
  color: var(--green);
}

.errorText {
  color: var(--orange);
}

.inactiveSmile {
  fill: red;
  color: red;
}

.activeSmile {
  fill: green;
  color: green;
}

.modalContent {
  width: 100%;
}

.notClickable {
  cursor: default;
}

.modalContent {
  width: 100%;
  position: relative; /* Для правильного позиционирования */
}
